@charset "UTF-8";

body {
    background-color: rgba(213, 254, 213, 0.504);
    font-family: Arial, Helvetica, sans-serif;
    display: initial;
}

h1 {
    color: rgb(51, 174, 51);
    text-align: center;
    font-size: 40px;
}

h1#principal {
    text-align: center;
    color: rgb(213, 254, 213);
    font-size: 40px;
    background-color: rgb(21, 21, 21);
    border: solid 0px;
    border-radius: 30px 30px 0 0;
}
.basic {
    color: rgb(5, 255, 5);
    background-color: black;
    font-size: 23px;
}


.intermediary {
    color: rgb(249, 249, 79);
    background-color: #000000;
    font-size: 23px; 
}

.avanced {
    background-color: #000000;
    color: rgb(250, 75, 75);
    font-size: 23px;
}
p {
    text-align: justify;
    font-size: 15px;
}
code {
    color: rgb(213, 254, 213);
    background-color: rgb(0, 0, 0);
    font-size: 18px;
}

.example {
    background-color: rgba(70, 252, 213, 0.275);
    border: solid 1px yellow;
    border-style: solid;
}
