body{
    text-align: center;
    background-color: #000000;
    
}

a {
    color: beige;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}
h1 {
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 42px;
}

p {
    color: beige;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}