
body{
    background-color: #045df6;
    width: 100%;
    height: 10px;
    position:relative ;
}
.cabecalho{
    background-color: #4702F2;
}
.nav {
    background-color: #D109DB;
}
.conteudo-inicial {
    background-color: #F20B02;
}
.conteudo-inicial .conteudo-aside{
    background-color: #D109DB;
}
.rodape{
    background-color: #E85D02;
}