/* Medidas Absolutas
    cm(centimetro), mm (Milimetro), in (Polegada), px (Pixel), pt (Ponto),pc (Paica).


    
    Medidas Relativas
    em, ex, rem, vw, vh, %
    */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    text-align: justify;
 }

 h1, h2 {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 3em;
     text-align: center;
     background-color: #0dff00ea;
     margin-top: 0;
     border-radius: 0 6% 0 6%;
 }

 /* ----O B S E R V A Ç Ã O ! ! !----
    
    shorthand font
    - font-style -> font-weight -> font-size -> font-family
 
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter | normal | bold | bolder
    font-size: 3em;
    font-style: italic;
    
*/

 
